* {
	font-family: tahoma, arial, sans-serif;
}

body {
	background-color: #d3d0cb;
}

h1 {
  text-align: center;
  color: #fff;
  padding-top: 7px;
}

#wrapper {
  margin: 0 auto;
  width: 70%;
  background-color: #587b7f;
  border-radius: 7px;
}

#board {
  height: 550px;
  width: 550px;
  background-color: white;
  margin: 0px auto;
  padding: 5px;
  white-space: nowrap;
  line-height: 0;
  border-radius: 7px;
}

.fabuloso {
  border: .25px solid #d3d0cb;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 0;
  vertical-align: bottom;
  line-height: 0;
}

#options {
	text-align: center;
	background-color: #2d3047;
	margin-top: 7px;
	padding: 10px;
}

#numRows {
  margin: 3px auto;
  width: 64px;
  border: none;
  margin: 5px;\
	-webkit-appearance: none; 
	-moz-appearance: none;
	 appearance: none;
}

#penColor {
	vertical-align: middle;
	border: none;
	margin: 5px;
}


#btn {
	background-color: #e2c044;
	font-weight: bold;
	font-size: 16pt;
	border: none;
	color: black;
	padding: 6px;
}

#btn:hover:after {
  content: "!";
}

label {
	color: white;
}